<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white mt-0">Who We Are<h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4"></p>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-1 text-center text-white">
                    <img src="images/comp.png" alt="Janice Canedo" width=300px height=auto>
                    <h3 class="h4 jc-1">Janice Canedo</h3>
                    <p class="mb-0">Design, implementation, and maintence for relational and non-relational databases.</p>
                </div>

                <div class="col-md-4 offset-md-2 text-center text-white">
                    <img src="images/headshot-jose.png" alt="Jose Canedo" width=300px height=auto>
                    <h3 class="h4 jc-1">Jose Canedo</h3>
                    <p class="mb-0">Design, implementation, and maintence for relational and non-relational databases.</p>
                </div>
            </div>

        </div>
    </div>
</section>