<footer class="bg-light jc-2">
    <div class="row">
        <a class="col-md-6 small text-left text-muted padding-left-45" href="https://www.alwaysabounding.net/">Images Courtesy of Katy Howard - Always Abounding Multimedia</a>
        <div class="col-md-6 small text-right text-muted padding-right-45">Copyright © 2020 - Start Bootstrap</div>
    </div>
</footer>