<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Available Services</h2>
        <hr class="divider my-4" />
        <div class="row">

            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-database text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Database Development</h3>
                    <p class="text-muted mb-0">Design, implementation, and maintence for relational and non-relational databases.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-chart-bar text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Data Analytics</h3>
                    <p class="text-muted mb-0">Analytics and data modeling for trends and forcasting.</p>
                </div>
            </div>


            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Full Stack Development</h3>
                    <p class="text-muted mb-0">Full Stack web development for desktop and mobile applications.</p>
                </div>
            </div>


        </div>
    </div>
</section>